
{#- <!-- ---------------- HTML STRUCTURE MACROS ---------------- --> -#}

{#- <!-- GUI STRUCTURE --> -#}
{%- macro gui_structure(structure) %}
	{%- for element in structure.elements %}
		{{- gui_element(element, structure)|tab_indent }}
	{%- endfor %}
{%- endmacro -%}

{#- <!-- GUI ELEMENT --> -#}
{%- macro gui_element(element, parent) %}
{%- if element|element_type == 'GuiTabs' -%}
<div class="tabs-wrapper z-depth-1" style="padding:7px;">
	<ul id = "{{'tabs'|new_unique_id}}" class="tabs">
		{%- for tab in element.elements %}
		<li class="tab"><a{% if loop.index == 1%} class="active"{% endif %} href="#{{'tabs'|current_unique_id}}_{{loop.index}}">{{tab.title}}</a></li>
		{%- endfor %}
	</ul>
	{%- for tab in element.elements %}
	<div class="tab-body" id="{{'tabs'|current_unique_id}}_{{loop.index}}">
		{{- gui_structure(tab.body)|tab_indent }}
	</div>
	{%- endfor %}
</div>
{%- elif element|element_type == 'GuiSectionGroup' %}
<div class="section-group-wrapper" style="padding:7px;">
	<ul class="collapsible{% if element.exclusive %} popout{% endif %}" data-collapsible="{% if element.exclusive %}accordion{% else %}expandable{% endif %}">
		{%- for section in element.elements %}
		<li data-gui-id="{{section|gui_id(element, 'GuiSection')}}">
			<div class="collapsible-header{% if element.exclusive %} exclusive-section{% endif %}{% if section.expanded %} active{% endif %}">
				<i class="material-icons section-check-icon">{% if not element.exclusive %}toc{% else %}{% if section.expanded %}check_circle{% else %}radio_button_unchecked{% endif %}{% endif %}</i>
				{{section.title}}
				<i class="material-icons right section-cariusel-icon grey-text text-lighten-2">short_text</i>
			</div>
			<div class="collapsible-body">
				{{- gui_structure(section.body)|tab_indent(3) }}
			</div>
		</li>
		{%- endfor %}
	</ul>
</div>
{%- elif element|element_type == 'GuiSection' %}
<div class="section-wrapper" style="padding:7px;">
	<ul class="collapsible" data-collapsible="expandable">
		<li data-gui-id="{{element|gui_id(parent, 'GuiSection')}}">
			<div class="collapsible-header{% if element.expanded %} active{% endif %}{% if element.optional %} optional-section{% endif %}">
				<i class="material-icons section-check-icon">{% if not element.optional %}toc{% else %}{% if element.expanded %}check_circle{% else %}radio_button_unchecked{% endif %}{% endif %}</i>
				{{element.title}}
				<i class="material-icons right section-expand-icon">expand_more</i>
			</div>
			<div class="collapsible-body">
				{{- gui_structure(element.body)|tab_indent(3) }}
			</div>
		</li>
	</ul>
</div>
{%- elif element|element_type == 'GuiGrid' -%}
<div class="grid-wrapper" style="padding:7px;">
	<table>
		{%- for row in element.elements %}
		{{ gui_grid_row(row)|tab_indent }}
		{%- endfor %}
	</table>
</div>
{%- elif element|element_type == 'GuiGridRow' -%}
<div class="grid-wrapper" style="padding:7px;">
	<table>
		{{ gui_grid_row(element)|tab_indent }}
	</table>
</div>
{%- elif element|element_type == 'Parameter' -%}
{{- gui_parameter(element, parent) }}
{%- endif -%}
{%- endmacro -%}

{# <!-- GUI GRID ROW --> TODO merge with gui_element [?] #}
{%- macro gui_grid_row(row) %}
<tr class="grid-row-wrapper">
{%- for cell in row.elements if cell|element_type in ['Parameter', 'EmptyCell'] %}
	{%- set dim = row.dimensions[loop.index-1] %}
	<td {%- if dim.colspan and dim.colspan != 1 %} colspan="{{dim.colspan}}"{% endif %} style="min-width: {% if cell|element_type == 'Parameter' and cell.type == 'Bool' %}1{% else %}{{dim.width}}{% endif %}%;">
	{%- if cell|element_type == 'Parameter' %}
		{{- gui_parameter(cell, row, dim.colspan, dim.width, inline_description=False)|tab_indent() }}
	{%- endif %}
	</td>
{%- endfor %}
</tr>
<tr>
	<td colspan="{{row.elements|length}}" style="padding:0px;">
	{%- for cell in row.elements if cell|element_type == 'Parameter' and cell.description -%}
		{{ param_description(cell, show_title=True)|tab_indent() }}
	{%- endfor %}
	</td>
</tr>
{%- endmacro -%}

{#- <!-- GUI PARAMETER --> -#}
{%- macro gui_parameter(element, parent, colspan=1, width=0, inline_description=True) %}
<div class="parameter-wrapper {#tooltipped#}" data-param-id="{{element.id}}" data-gui-id="{{element|gui_id(parent, element.id)}}" data-param-type="{{element.type}}" data-position="bottom" data-delay="900" data-tooltip="{{element.description}}" style="padding:15px; display:flex; align-items:flex-start;">
{%- if element.type == 'Bool' %}
	<div style="flex-grow: 0;" class="data-input-wrapper">
		<input type="checkbox" id="{{(element.id+'_cb')|new_unique_id}}"{% if element.none_allowed %} class="tristate-checkbox"{% endif %}{% if element.default == None %} readonly{% elif element.default|lower == 'true' %} checked{% endif %}/>
		<label for="{{(element.id+'_cb')|current_unique_id}}" style="white-space: nowrap;">{{element.title}}</label>
		{%- if element.default == None %}
		<script>document.getElementById("{{(element.id+'_cb')|current_unique_id}}").indeterminate = true;</script>
		{%- endif %}
	</div>
{%- elif element.type in ['Str', 'Num', 'Date', 'File', 'Choice'] %}
	{%- if element.type == 'Str' and element.empty_str_allowed %}
	<div style="width: 40px; flex-grow: 0;" class="none-switch-wrapper">
		<div class="none-switch switch" style="left:15px; top:45px;">
			<label>
				<input type="checkbox"{% if element.default != None %} checked{% endif %}/>
				<span class="lever"></span>
			</label>
		</div>
	</div>
	{%- endif %}

	{%- set count_many = True if element.cli_pattern_count != 1 else False %}
	
	{%- if not count_many and not element.multiplicity == '*' %}
	<div style="flex-grow: {% if element.type == 'Num' %}0{% else %}1{% endif %};" class="data-input-wrapper">
		{{- input_field_body(element)|tab_indent(3) }}
	</div>
	{%- elif (count_many and not element.multiplicity == '*') or (not count_many and element.multiplicity == '*') %}
	{%- set count = 1 if element.multiplicity == '*' or element.cli_pattern_count == '*' else element.cli_pattern_count %}
	{{- input_list(element, count) }}
	{%- else %}
	<ul class="collection input-collection data-input-wrapper">
		<li class="collection-item" style="padding-bottom:0px;">
			<span>{{element.title}}</span>
			<a href="#!" class="secondary-content add-input-collection-item-btn"><i class="material-icons">playlist_add</i></a>
		</li>
		<li class="collection-item" style="border-style:none solid solid solid; border-width:1px; border-color:grey grey grey #bababa; position:relative;">
			{%- set count = 1 if element.cli_pattern_count == '*' else element.cli_pattern_count %}
			{{- input_list(element, count)|tab_indent(2) }}
			<a class="remove-input-collection-item-btn" href="#!" style="visibility: hidden;"><i class="material-icons" style="position:absolute; top:3px; right:3px;">delete_sweep</i></a>
		</li>
	</ul>
	{%- endif %}
{%- endif %}
{%- if element.description or element.help %}
	<!-- More options: description, help -->
	<div class="more-options-btn" {%- if element.type != 'Bool' %} style="position:relative; top:{%- if element.multiplicity == '*' and count_many %}10px;{% else %}30px;{% endif %}{% endif %}">
		<a href="#!" class="dropdown-button" data-activates="{{(element.id+'_dropdown')|new_unique_id}}" data-beloworigin="true" data-alignment="right" data-constrainwidth="false"><i class="material-icons">more_vert</i></a>
		<ul id="{{(element.id+'_dropdown')|current_unique_id}}" class='dropdown-content'>
			{%- if element.description %}
			<li><a class="desc-btn" data-shows="{{(element.id+'_desc')|new_unique_id}}" href="#!"><i class="material-icons" style="position:relative; top:6px; padding-right:5px;">info_outline</i>Description</a></li>
			{%- endif %}
			{%- if element.help %}
			<li><a class="modal-trigger" href="#{{(element.id+'_help')|new_unique_id}}"><i class="material-icons" style="position:relative; top:6px; padding-right:5px;">help_outline</i>Help</a></li>
			{%- endif %}
		</ul>
	</div>
{%- endif %}
</div>
{%- if inline_description -%}
	{{ param_description(element) }}
{%- endif %}
{%- if element.help %}
<div id="{{(element.id+'_help')|current_unique_id}}" class="modal">
	<div class="modal-content">
		<h5>{{element.title}}</h5>
		<p>{{element.help}}</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close btn-flat">Close</a>
	</div>
</div>
{%- endif %}
{%- endmacro -%}

{%- macro input_list(element, count) %}
{%- set count_n = True if element.cli_pattern_count not in ['*', 1] else False %}
<ul class="input-list data-input-wrapper">
	{%- for i in range(0, count) %}
	<li>
		{{- input_field_body(element, i, count_n)|tab_indent() }}
	</li>
	{%- endfor %}
	{%- if not count_n %}
	<li style="position:relative;">
		<a href="#!" class="add-input-field-btn" style="position:absolute; bottom:-10px; right:0px;"><i class="material-icons">add_box</i></a>
	</li>
	{%- endif %}
</ul>
{%- endmacro -%}

{#- <!-- PARAMETER DESCRIPTION --> -#}
{%- macro param_description(element, show_title=False) %}
{%- if element.description %}
<div id="{{(element.id+'_desc')|current_unique_id}}" class="card-panel teal lighten-1 description-card" style="display:none; position:relative; margin-left:5px; margin-right:5px;">
	{%- if show_title %}
	<h6 class="white-text" style="font-weight: bold;">{{element.title}}:</h6>
	{%- endif %}
	<span class="white-text">
	{{element.description}}
	</span>
	<a href="#!" class="close-desc-button"><i class="material-icons text-white" style="position:absolute; top:3px; right:3px;">close</i></a>
</div>
{%- endif %}
{%- endmacro -%}

{#- <!-- HELPERS --> -#}
{%- macro multi_param_title(element, i=None) -%}
{{element.title}}{% if i != None %} : {% if element.nonpositional and element.cli_pattern_vars %}{{element.cli_pattern_vars[i]}}{% else %}{{i+1}}{% endif %}{% endif %}
{%- endmacro -%}

{%- macro multi_param_id(element, i=None) -%}
{{element.id}}{% if i != None %}:{{i}}{% endif %}
{%- endmacro -%}

{# <!-- INPUT FIELD BODY --> #}
{%- macro input_field_body(element, i=None, count_n=False) -%}
{%- set list_item = True if i != None else False %}
<div class="input-field {%- if element.type == 'Num' %} number-input-wrapper {%- elif element.type == 'File' %} file-field{% endif %}" data-input-id="{{multi_param_id(element, i)}}">
{%- if element.type in ['Str', 'Num', 'Date'] %}
	<input id="{{multi_param_id(element, i)}}" type="{% if element.type == 'Str' %}{% if element.widget == 'password' %}password{% else %}text{% endif %}{% elif element.type == 'Num' %}number{% elif element.type == 'Date' %}date{% endif %}"{% if element.type == 'Date' %} class="datepicker"{% endif %}{% if element.default != None %} value="{% if list_item %}{{element.default[i]}}{% else %}{{element.default}}{% endif %}"{% elif element.type == 'Str' and element.empty_str_allowed %} disabled{% endif %}/>
	<label for="{{multi_param_id(element, i)}}">{{multi_param_title(element, i)}}</label>
{%- elif element.type == 'File' %}
	<div class="btn" style="padding-left:15px; padding-right:15px; text-transform:none;">
		<i class="material-icons left">insert_drive_file</i> <!-- folder ili file ikona po ogranicenju -->
		<span>{{multi_param_title(element, i)}}</span>
		<input type="file"/> <!--webkitdirectory dodati za ogranicenje directory-->
	</div>
	<div class="file-path-wrapper">
		<input id="{{multi_param_id(element, i)}}" class="file-path validate" type="text"/>
	</div>
{%- elif element.type == 'Choice' %}
	<div style="padding-bottom:1px;">
		<select id="{{multi_param_id(element, i)}}">
			<option value="" selected style="border-style: solid; border-width:2px;border-color:black;"></option>
			{%- for choice in element.choices %}
			<option value="{{choice}}">{{choice}}</option>
			{%- endfor %}
		</select>
		<label>{{multi_param_title(element, i)}}</label>
	</div>
{%- endif %}
{%- if list_item and not count_n %}
	<a href="#!" class="remove-input-field-btn" style="position:absolute; right:{% if element.type == 'Choice' %}10{% else %}0{% endif %}px; top:18px; visibility: hidden;"><i class="material-icons">clear</i></a>
{%- endif %}
</div>
{%- endmacro -%}

{#- <!-- ---------------- JS VIEW-MODEL MACROS ---------------- --> -#}

{%- macro gui_structure_js(structure) %}
	{%- for element in structure.elements %}
		{{- gui_element_js(element, structure)|tab_indent }},
	{%- endfor %}
{%- endmacro -%}

{%- macro gui_element_js(element, parent) %}
{%- if element|element_type == 'Parameter' %}
new GuiParameter('{{element|gui_id(parent, element.id)}}', parameter_models['{{element.id}}'])
{%- else %}
new {% if element|element_type == 'GuiSection' %}GuiSectionGroup{% else %}{{element|element_type}}{% endif %}(
	{%- if element|element_type == 'GuiTabs' -%}
	[
		{%- for tab in element.elements %}
		new GuiTab([
			{{- gui_structure_js(tab.body)|tab_indent(2) }}
		]),
		{%- endfor %}
	]
	{%- elif element|element_type == 'GuiSectionGroup' %}
	{{element.exclusive|js_bool}}, // exclusive
	[
		{%- for section in element.elements %}
		new GuiSection('{{section|gui_id(element, 'GuiSection')}}',
		[
			{{- gui_structure_js(section.body)|tab_indent(2) }}
		]),
		{%- endfor %}
	]
	{%- elif element|element_type == 'GuiSection' %}
	{{element.optional|js_bool}}, // exclusive
	[
		new GuiSection('{{element|gui_id(parent, 'GuiSection')}}',
		[
			{{- gui_structure_js(element.body)|tab_indent(2) }}
		])
	]
	{%- elif element|element_type == 'GuiGrid' -%}
	[
		{%- for row in element.elements %}
		new GuiGridRow([
			{{- gui_structure_js(row)|tab_indent(2) }}
		]),
		{%- endfor %}
	]
	{%- endif %}
)
{%- endif %}
{%- endmacro -%}

{#- <!-- ---------------- JS USAGE-MODEL MACROS ---------------- --> -#}

{%- macro cli_element(element) %}
{%- if element|element_type == 'CliOrGroup' -%}
new OrGroup([
	{%- for or_el in element.elements %}
{{ cli_element(or_el)|tab_indent }},
	{%- endfor %}
])
{%- elif element|element_type == 'CodeBlock' %}
new CodeBlock(function(context)
{
{{element.code}}
}),
{%- elif element|element_type == 'CliGroup' -%}
new ParameterGroup([
	{%- for el in element.elements %}
{{ cli_element(el)|tab_indent }},
	{%- endfor %}
])
{%- elif element|element_type == 'CliOptionalGroup' -%}
	{%- if element.elements|length > 1 %}
new OptionalElement([
		{%- for el in element.elements %}
{{ cli_element(el)|tab_indent }},
		{%- endfor %}
])
	{%- else -%}
new OptionalElement([{{ cli_element(element.elements|first) }}])
	{%- endif %}
{%- elif element|element_type == 'CliSeparator' -%}
new ParameterSeparator('{{element.value}}')
{%- elif element|element_type == 'Parameter' -%}
new ParameterUsage(parameter_models['{{element.id}}'])
{%- endif %}
{%- endmacro -%}

{%- macro usage_model(usage) %}new ParameterGroup([
	{%- for element in usage.elements %}
{{ cli_element(element)|tab_indent }},
	{%- endfor %}
	{%- if usage.has_subcommand %}
	new SubCommand(),
	{%- endif %}
])
{%- endmacro -%}

{%- macro usages_model(usages) %}
{%- if usages|length > 1 %}new OrGroup([
	{%- for usage in usages %}
{{ usage_model(usage)|tab_indent }},
	{%- endfor %}
])
{%- else %}
{{- usage_model(usages|first) }}
{%- endif %}
{%- endmacro -%}

<!DOCTYPE html>
<!-- Automatically generated code. Do not edit directly. -->
<html>
    <head>
		<!--Import Google Icon Font-->
		<link rel="stylesheet" href="materialize/css/material-icons.css">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
		<!--Import cid_framework.css-->
		<link type="text/css" rel="stylesheet" href="cid/css/framework.css"  media="screen,projection"/>
		<!--Import custom.css-->
		<link type="text/css" rel="stylesheet" href="custom/css/custom.css"  media="screen,projection"/>
	</head>
    <body>
		<div class="container">
			{%- for command in commands %}
				{%- if command.parameters or command.sub_commands %}
			<div id="{{command.id}}" class="command-panel"{% if command.id != root_command_id %} style="display:none;"{% endif %}>
				<div style="display:flex; align-items:baseline;">
					<h4 style="flex-grow: 1;">{{command.title}}</h4>
					{%- if command.help %}
					<a href="#{{command.id}}_command_help" class="modal-trigger {#tooltipped#}" data-position="bottom" data-delay="700" data-tooltip="{{command.title}} Help" style="flex-grow: 0;"><i class="material-icons small right" style="position:relative; top:10px;">help</i></a>
					{%- endif %}
				</div>
				{%- if command.id != root_command_id %}
				<nav>
					{%- for parent_command in command|all_parent_commands %}
					<a data-command-id="{{parent_command.id}}" href="#!" class="parent-command-link breadcrumb">{{parent_command.title}}</a>
					{%- endfor %}
					<a href="#!" class="breadcrumb">{{command.title}}</a>
				</nav>
				{%- else %}
				<hr/>
				{%- endif %}
				{%- if command.description %}
				<div class="card-panel white" style="padding-top: 5px; padding-bottom: 5px;">
					<p>{{command.description}}</p>
				</div>
				{%- endif %}
				<div class="parameter-section">
				{{- gui_structure(command.gui)|tab_indent(4) }}
				</div>
				<hr/>
				{%- if command.sub_commands %}
				<table class="bordered">
					{%- for sub_command in command.sub_commands %}
					<tr>
						<td class="sub-command-wrapper">
							<button data-command-id="{{sub_command.id}}" type="button" class="btn sub-command-button{% if sub_command.parameters or sub_command.sub_commands %} sub-command-link{% else %} green waves-effect waves-light{% endif %}"><span>{{sub_command.title}}</span><i class="material-icons">{% if sub_command.parameters or sub_command.sub_commands %}navigate_next{% else %}play_arrow{% endif %}</i></button>
						</td>
						<td style="width: 15px;"/>
						<td>
							{{sub_command.description}} asdasd sdfsd asd
						</td>
						<td>
							{%- if sub_command.help %}
							<a href="#{{sub_command.id}}_command_help" class="modal-trigger {#tooltipped#}" data-position="bottom" data-delay="700" data-tooltip="{{sub_command.title}} Help"><i class="material-icons">help</i></a>
							{%- endif %}
						</td>
					</tr>
					{%- endfor %}
				</table>
				{%- endif %}
			</div>
				{%- endif %}
				{%- if command.help %}
			<div id="{{command.id}}_command_help" class="modal">
				<div class="modal-content">
					<h5>{{command.title}}</h5>
					<p>{{command.help}}</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class=" modal-action modal-close btn-flat">Close</a>
				</div>
			</div>
				{%- endif %}
			{%- endfor %}
			<div class="card-panel blue-grey darken-1 white-text text-darken-2">
				<span style="-webkit-user-select: none;">> </span><span id="cli-text">{{root_command_name}}</span> <span id="sub-command-cli-text"><span>
			</div>
			<div style="white-space: nowrap; margin-top: 5px; vertical-align: top;">
				<a id="close-btn" class="waves-effect waves-light btn red left"><i class="material-icons right">cancel</i>Close</a>
				<button id="execute-btn" class="waves-effect waves-light btn green right"><i class="material-icons right">play_arrow</i>Execute</button>
			</div>
		</div>
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
		<!-- Script imports -->
		<!-- script-import hack for electron, http://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		
		<!--Import jQuery before materialize.js-->
		<!-- jQuery -->
		<script type="text/javascript" src="materialize/js/jquery-2.1.1.min.js"></script>
		<!-- Include all compiled bootstrap plugins -->
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
		<!-- Import custom.js -->
		<script type="text/javascript" src="lib/date.js"></script>
		
		<!-- Import custom.js -->
		<script type="text/javascript" src="custom/js/custom.js"></script>
		
		<!-- Import gui model -->
		<script type="text/javascript" src="cid/js/model.js"></script>
		
		<!-- Import framework code -->
		<script type="text/javascript" src="cid/js/framework.js"></script>
		
		<!-- script-import hack for electron -->
		<script>if (window.module) module = window.module;</script>
	</body>
	
	<script>
		const constraint_models = 
		{
			{%- for parameter in parameters if parameter.constraints %}
			'{{parameter.id}}': [
				{%- for constraint in parameter.constraints %}
				{%- if constraint|element_type == 'NumericValueConstraint' %}
				new Constraint(new NumericValueConstraintValidator('{{constraint.type}}', {{constraint.value}}), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'DateConstraint' %}
				new Constraint(new DateConstraintValidator('{{constraint.type}}', '{{constraint.value}}', '{{parameter.date_format}}'), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'LengthConstraint' %}
				new Constraint(new LengthConstraintValidator('{{constraint.type}}', {{constraint.value}}), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'StringFlagConstraint' %}
				new Constraint(new StringFlagConstraintValidator('{{constraint.type}}'), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'NumberFlagConstraint' %}
				new Constraint(new NumberFlagConstraintValidator('{{constraint.type}}'), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'FileFlagConstraint' %}
				new Constraint(new FileFlagConstraintValidator('{{constraint.type}}'), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'RegexConstraint' %}
				new Constraint(new RegexConstraintValidator('{{constraint.value}}'), `{{constraint.message}}`),
				{%- elif constraint|element_type == 'CodeConstraint' %}
				new Constraint(new CodeConstraintValidator(`{{constraint.value.code}}`), `{{constraint.message}}`),
				{%- endif %}
				{%- endfor %}
			],
			{%- endfor %}
		};
		
		const parameter_models = 
		{
			{%- for parameter in parameters %}
			'{{parameter.id}}': new ParameterModel({type: '{{parameter.type}}', id: '{{parameter.id}}' 
				{%- if parameter.multiplicity != 1 %}, multiplicity: {{parameter.multiplicity|stringify}}{% endif %}
				{%- if parameter.cli_pattern_count != 1 %}, count: {{parameter.cli_pattern_count|stringify}}{% endif %}
				{%- if parameter.nonpositional and parameter.cli_pattern_vars %}, vars: {{parameter.cli_pattern_vars}}{% endif %}
				{%- if parameter.empty_str_allowed %}, empty_str_allowed: true{% endif %}
				{%- if parameter.nonpositional and parameter.type != 'Bool' %}, prefix: '{{(parameter|first_cli_pattern).prefix}}'{% endif %}
				{%- if parameter.nonpositional and parameter.type != 'Bool' %}, prefix_separated: {{(parameter|first_cli_pattern).white_space|js_bool}}{% endif %}
				{%- if parameter.nonpositional and parameter.type != 'Bool' and (parameter|first_cli_pattern).separator %}, separator: '{{(parameter|first_cli_pattern).separator}}'{% endif %}
				{%- if parameter.nonpositional and parameter.type != 'Bool' and (parameter|first_cli_pattern).count_char %}, count_char: '{{(parameter|first_cli_pattern).count_char}}'{% endif %}
				{%- if parameter.type == 'Bool' %}, bool_values: {positive: '{{parameter|first_positive_cli_pattern}}', negative: '{{parameter|first_negative_cli_pattern}}'}{% endif -%}
				{%- if parameter.type == 'Date' and parameter.date_format %}, date_format: '{{parameter.date_format}}'{% endif -%}
				{%- if parameter.constraints %}, constraints: constraint_models['{{parameter.id}}']{% endif -%}
			}),
			{%- endfor %}
		};
		
		const command_models = 
		{
			{%- for command in commands %}
			'{{command.id}}':new CommandModel('{{command.cli_command}}',
			{{- usages_model(command.usages)|tab_indent(3, start_from=2) }}
			{%- if command.gui.elements %},
			[
				{{- gui_structure_js(command.gui)|tab_indent(3) }}
			]
			{%- endif %}),
			{%- endfor %}
		};
		
		function get_param_model(param)
		{
			return parameter_models[param.attr('data-param-id')];
		}
		
		const current_commands = ['{{root_command_id}}'];
	
		digest();
		
		// You can also require other files to run in this process
		require('./renderer.js');
		const {ipcRenderer} = require('electron');
	</script>
</html>